/** @format */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
header {
	width: 100%;
	height: 60px;
	max-height: 280px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(18, 29, 51);
	padding: 0 18px;
}
nav {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.logo {
	width: 32px;
}
ul {
	margin-left: 60px;
	list-style: none;
	display: flex;
	gap: 1em;
	color: rgb(232, 233, 235);
	font-weight: 700;
	font-size: 0.92em;
}
nav ul li {
	display: flex;
	align-items: center;
}
nav ul li img {
	width: 16px;
	margin-right: 6px;
}
nav ul li .swap {
	width: 24px;
}
nav ul li .buy {
	width: 19px;
}
nav ul li:nth-child(2n) {
	color: rgb(53, 63, 82);
}
.title {
	font-size: 1.28em;
	color: #ffffff;
	font-weight: 600;
	width: auto;
	height: 20px;
	display: block;
	margin-top: -5px;
}
.title span {
	color: rgb(177, 184, 199);
}

/* main */
main {
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
}
.navigation {
	display: flex;
	width: 300px;
	padding: 6px 16px;
	flex-direction: column;
}
/* navigation buttons */
.dashboard {
	background-color: rgb(216, 235, 253) !important;
}
.total {
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 6px 0;
}
.total div p:nth-child(1) {
	font-size: 0.8em;
	font-weight: 600;
	color: rgb(103, 113, 132);
}
.total div p:nth-child(2) {
	text-align: right;
	color: rgb(53, 63, 82);
	font-size: 24px;
	font-weight: 600;
	padding-right: 15;
}
.cursor-div {
	margin-top: auto;
}
.others {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
}
.others button,
.final button {
	display: flex;

	justify-content: flex-start;
	-webkit-box-align: center;
	align-items: center;
	height: 48px;
	padding-right: 16;
	padding-left: 16;
	margin-bottom: 8;
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	width: 100%;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
	appearance: none;
	border: none;
	background-color: rgb(255, 255, 255);
	color: rgb(103, 113, 132);
}
.others img,
.final img {
	margin-right: 10px;
}
.img-dash {
	width: 18px;
}
.img-btc {
	width: 24px;
}
.img-dollar,
.img-euro {
	width: 24px;
}
.each-us img {
	margin-right: 16px;
}
.each-btc {
	width: 32px;
}
.others .dashboard:hover {
	background-color: rgb(216, 235, 253);
}
.others .us:hover {
	background-color: rgb(191, 236, 218);
}
.others .dashboard:hover,
.others .pounds:hover,
.others .euros:hover {
	background-color: rgb(191, 236, 218);
}
.others .bitcoin:hover {
	background-color: rgb(255, 230, 200);
}
.others .ether:hover {
	background-color: rgba(71, 59, 203, 0.25);
}
.others .bitcoin-cash:hover {
	background-color: rgb(226, 240, 211);
}
.others .stellar:hover,
.others .algorand:hover {
	background-color: rgb(191, 191, 191);
}
.others .usdigital:hover {
	background-color: rgb(191, 212, 202);
}
.others .tether:hover {
	background-color: rgb(201, 231, 222);
}

.final {
	border-top: 1px solid rgb(240, 242, 247);
	/* margin-top: 8px; */
}
.dashboard-component,
.bitcoin-component,
.euro-component,
.usd-component {
	width: calc(100% - 250px);
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: calc(100% - 250px);
	max-width: calc(100% - 250px);
	background-color: rgb(255, 255, 255);
	padding-top: 16;
	padding-right: 30;
	padding-bottom: 16;
	padding-left: 30;
	/* background-color: red; */
}
.left-side {
	width: 40%;
	max-width: 530px;
	min-width: 430px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border-radius: 8px;
	padding-top: 24;
	padding-right: 24;
	padding-left: 24;
	border: 1px solid rgb(240, 242, 247);
}
.top-left-side {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24;
}
.top-left-side p:nth-child(1) {
	font-weight: 500;
	font-size: 16px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(152, 161, 178);
	cursor: inherit;
	display: block;
	opacity: 1;
	position: relative;
}
.top-left-side p:nth-child(2) {
	font-weight: 500;
	font-size: 24px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(53, 63, 82);
	cursor: inherit;
	display: block;
	opacity: 1;
	position: relative;
}
.slider {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	-webkit-box-align: center;
	align-items: center;
	border-radius: 8px;
	background-color: rgb(240, 242, 247);
	margin-bottom: 24;
}
.slider button {
	position: relative;
	padding: 12px 20px;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	border-radius: 8px;
	width: 33%;
	margin: 2px;
	cursor: pointer;
	color: rgb(152, 169, 202);
	transition-duration: 0.3s, 0.3s;
	transition-timing-function: ease, ease;
	transition-delay: 0s, 0s;
	transition-property: color, background-color;
	border: none;
}
.slider .active {
	background-color: rgb(255, 255, 255);
	color: rgb(12, 108, 242);
	box-shadow: rgba(5, 24, 61, 0.1) 0px 4px 8px;
}
.total-others {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	display: block;
	padding-top: 15;
	padding-bottom: 15;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	min-height: 40px;
	border-bottom: 1px solid rgb(240, 242, 247);
}
.each-total {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.each-total .each-us {
	font-weight: 500;
	font-size: 20px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(53, 63, 82);
	cursor: inherit;
	display: block;
	opacity: 1;
	display: flex;
	align-items: center;
}
.each-total .each-cur {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	height: 40px;
}
.each-total .each-cur p:nth-child(1) {
	font-weight: 600;
	font-size: 16px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(53, 63, 82);
	cursor: pointer;
	display: block;
	opacity: 1;
}
.each-total .each-cur p:nth-child(2) {
	font-size: 12px;
	font-weight: 600;
	font-size: 12px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(152, 161, 178);
	cursor: pointer;
	display: block;
	opacity: 1;
	white-space: nowrap;
}
.right-side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	max-width: 560px;
	height: 582px;
	border-radius: 8px;
	box-sizing: border-box;
	border: 1px solid rgb(240, 242, 247);
	margin-left: 30px;
}
.top-right-side {
	justify-content: space-between;
	align-items: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 30px 0;
	height: 300px;
}
.top-img {
	width: 24px;
	margin-right: 10px;
}
.top-right-side p {
	display: flex;
	align-items: center;
}
.top-right-side p:nth-child(1) {
	font-weight: 600;
	font-size: 18px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(0, 0, 0);
	cursor: pointer;
	display: flex;
	opacity: 1;
}

.top-right-side p:nth-child(2) {
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(80, 89, 107);
	cursor: inherit;
	display: block;
	opacity: 1;
}
.top-right-side p:nth-child(3) {
	font-weight: 400;
	font-size: 36px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(13, 53, 120);
	cursor: inherit;
	display: block;
	opacity: 1;
}
.top-right-side p:nth-child(4) {
	font-weight: 600;
	color: rgb(23, 207, 115);
}
.top-right-side p:nth-child(4) span {
	color: #67718c;
	font-size: 14px;
}
.bottom-right-side {
	display: flex;
}
.bottom-right-side {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 100px;
	width: 100%;
	z-index: 99;
}
.middle-right-side {
	height: 100%;
	width: 100%;
	background: url(./assets/img/graph-head.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: -60px;
}
.bottom-right-side-end {
	padding-top: 17%;
	background: url(./assets/img/graph-leg.png);
	background-size: 100%;
}
.bottom-right-side button {
	font-weight: 400;
	font-size: 12px;
	font-style: normal;
	cursor: pointer;
	display: block;
	border: 1px solid rgb(177, 184, 199);
	color: rgb(177, 184, 199);
	background-color: rgb(255, 255, 255);
	letter-spacing: 1px;
	border-radius: 8px;
	margin: 0 8px;
	padding: 4px 6px;
	transition-duration: 0.3s, 0.3s, 0.3s;
	transition-timing-function: ease, ease, ease;
	transition-delay: 0s, 0s, 0s;
	transition-property: color, border, background;
}

.bottom-right-side button:hover {
	border: 1px solid rgb(12, 108, 242);
	color: rgb(12, 108, 242);
}
.bottom-right-side .active {
	background-color: rgb(12, 108, 242);
	border: rgb(12, 108, 242);
	color: rgb(255, 255, 255);
}
.bottom-right-side-end {
	display: flex;
	justify-content: center;
	z-index: 2;
	padding-bottom: 24;
	width: 100%;
}
.bottom-right-side-end button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 140px;
	height: 48px;
	padding: 10px 15px;
	box-sizing: border-box;
	user-select: none;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	letter-spacing: normal;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	transition-property: all;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	color: rgb(255, 255, 255);
	background-color: rgb(10, 86, 193);
	border-radius: 8px;
	border: 1px solid rgb(10, 86, 193);
	max-width: 200px;
	margin: 0 12px;
}
.bottom-right-side-end button:hover {
	background-color: rgb(5, 63, 145);
}

/* bitcoin dashboard */
.bitcoin-component,
.euro-component,
.usd-component {
	flex-direction: column;
}
.b-top {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.b-top-left {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 80px;
	-webkit-box-align: center;
	align-items: center;
	justify-content: space-between;
}
.b-top-left div {
	display: flex;
	flex-direction: row;
	width: 100%;
	-webkit-box-align: center;
	align-items: center;
}
.b-top-left div img {
	width: 36px;
	margin-right: 16px;
}
.b-top-left div p {
	font-weight: 600;
	font-size: 32px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(53, 63, 82);
	cursor: inherit;
	display: block;
	opacity: 1;
}
.b-top-desc {
	color: rgb(132, 115, 132);
	font-size: 16px;
	font-weight: 600;
	margin-right: auto;
}
.b-top-desc span {
	color: rgb(12, 129, 245);
}
.b-top button {
	display: flex;
	min-width: 140px;
	height: 40px;
	padding: 10px 15px;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	white-space: nowrap;
	line-height: 1;
	text-transform: none;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	opacity: 1;
	color: rgb(255, 255, 255);
	background-color: rgb(12, 108, 242);
	border-radius: 8px;
	border: 1px solid rgb(10, 86, 193);
	margin-left: 12px;
}
.u-top button {
	min-width: 100px;
}
.b-top button:hover {
	background-color: rgb(10, 86, 193);
}
.b-center {
	width: 100%;
	display: flex;
}
.b-center-row {
	box-shadow: none;
	color: rgb(53, 63, 82);
	background-color: rgb(255, 255, 255);
	min-height: 38px;
	border-radius: 4px;
	border-width: 1px;
	border: 1px solid rgb(223, 227, 235);
	-webkit-box-align: center;
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	flex-direction: column;
	transition-duration: 100ms;
	transition-timing-function: ease;
	transition-delay: 0s;
	transition-property: all;
	box-sizing: border-box;
	padding: 16px;
	margin-top: 24px;
	min-width: 200px;
	width: 25%;
}
.b-center-row p:nth-child(2) {
	margin: 10px 0;
}
.b-center-row p:nth-child(1) {
	font-weight: 500;
	font-size: 16px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(152, 161, 178);
	cursor: inherit;
	display: block;
	opacity: 1;
}
.b-center-row p:nth-child(2) {
	font-weight: 500;
	font-size: 24px;
	line-height: inherit;
	text-transform: none;
	font-style: normal;
	color: rgb(53, 63, 82);
	cursor: pointer;
	display: block;
	opacity: 1;
}
.b-center-row p:nth-child(3) {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-transform: none;
	font-style: normal;
	color: rgb(12, 108, 242);
	cursor: inherit;
	display: block;
	opacity: 1;
}
.b-center-row:nth-child(2) {
	width: 73%;
	margin-left: auto;
}
.b-center-row:nth-child(2) p:nth-child(3) {
	color: rgb(234, 31, 48);
}
.b-center-row:nth-child(2) p:nth-child(3) span {
	color: rgb(117, 113, 132);
}
.b-tran-header {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	margin-top: 24px;
}
.b-btns-right {
	display: flex;
	align-items: center;
}
.b-slide {
	margin: auto 0;
}
.b-btns-right button:nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: center;
	/* min-width: 120px; */
	width: 200px;
	height: 45px;
	box-sizing: border-box;
	text-align: center;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	transition-property: all;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	opacity: 1;
	color: rgb(12, 108, 242);
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
	border: 1px solid rgb(223, 227, 235);
	margin-right: 12;
}
.b-btns-right button:nth-child(2) {
	display: flex;
	align-items: center;
	width: 100%;
	min-width: 220px;
	height: 45px;
	min-height: 45px;
	padding-top: 6;
	padding-right: 12;
	padding-bottom: 6;
	padding-left: 15;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 600;
	color: rgb(152, 161, 178);
	background-color: rgb(255, 255, 255);
	border-top-width: 1;
	border-right-width: 1;
	border-bottom-width: 1;
	border-left-width: 1;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(223, 227, 235);
	border-right-color: rgb(223, 227, 235);
	border-bottom-color: rgb(223, 227, 235);
	border-left-color: rgb(223, 227, 235);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.b-btns-right button img {
	width: 24px;
	margin-right: 6px;
}
.b-btns-right button:nth-child(2) img {
	width: 22px;
	margin-right: 6px;
}
.b-tran-all {
	-webkit-font-smoothing: antialiased;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	cursor: pointer;
	padding-top: 14;
	padding-right: 14;
	padding-bottom: 14;
	padding-left: 14;
	justify-content: space-between;
	border: 1px solid rgb(240, 242, 247);
	border-radius: 8px;
	margin-top: 16px;
}
.b-tran-all .add {
	width: 36px;
	height: 36px;
	margin-right: 16px;
}
.buy-tran {
	display: flex;
}
.buy-tran-text p:nth-child(1) {
	font-weight: 600;
	color: rgb(53, 63, 82);
}
.buy-tran-text p:nth-child(1),
.to-tran-text p:nth-child(1),
.num-tran-text p:nth-child(1) {
	margin-bottom: 4px;
}
.num-tran-text p:nth-child(1) {
	font-weight: 600;
}
.num-tran-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.buy-tran-text p:nth-child(2),
.to-tran-text p,
.num-tran-text p:nth-child(2) {
	font-weight: 600;
	color: rgb(103, 113, 132);
	font-size: 14px;
}
